name: sample
on: push
jobs:
  sample-job:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: action/checkout@v3
      - name: listing directory
        run: ls -l 
      - name: install nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24
    
  
  
